:root {
    --sidenotes-max-width: 550px;

    --popups-popup-max-width: 640px;
    --popups-popup-max-height: 480px;
    --popups-popup-with-title-bar-min-width: 320px;
    --popups-annotation-popup-min-width: 360px;
    --popups-annotation-popup-min-height: 120px;
    --popups-aux-links-popup-min-width: 360px;
    --popups-aux-links-popup-min-height: 120px;
    --popups-local-transclude-popup-min-width: 360px;
    --popups-local-transclude-popup-min-height: 120px;
    --popups-popup-border-width: 3px;
    --popups-popup-title-bar-height: calc(1.5rem + 1px);
    --popups-popup-mini-title-bar-height: calc(1rem + 1px);
    --popups-video-iframe-width: 495px;
    --popups-video-iframe-height: 310px;
    --popups-image-popup-min-size: 64px;

    --popins-popin-max-height: 50vh;
    --popins-popin-min-height: 120px;
    --popins-popin-border-width: 3px;
    --popins-popin-title-bar-height: 1.75rem;
    --popins-popin-footer-bar-height: 1.75rem;
}

/* LAYOUT */

body {
    color: #333;
    font-size: 125%;
    line-height: 1.5;
    max-width: min-content;
    padding: 1rem;
    margin: 0 auto;
  }
  
  .content {
    grid-column-gap: 2em;
    grid-row-gap: 0.5em;
    display: grid;
    /* min() with 100% prevents overflow
    in extra narrow spaces */
    grid-template-columns: 1fr 1fr;
  }
  
  .content > *:not(article) {
    grid-column: 1 / -1;
    margin: 0;
  }
  
  /* verify breakpoint is what you want */
  @media (max-width: 768px) {
    .content > article {
      grid-column: 1 / -1;
    }
  }
  
  /* NAVIGATION */
  
  .site-nav {
    display: flex;
  }
  
  .site-nav a {
    display: block;
    padding: 1rem;
  }
  
  .site-nav .logo {
    font-weight: bold;
    padding-left: 0;
  }
  
  .main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 48rem) {
    .site-nav,
    .main-menu {
      flex-direction: column;
    }
  
    .site-nav a {
      padding: 0.5rem;
      padding-left: 0;
    }
  }
  
  /* LISTS */
  
  .post-snippet {
    margin-bottom: 1rem;
  }
  
  .post-snippet h3 {
    margin-bottom: 0.25rem;
  }
  .note-container {
    column-gap: 1rem;
  }
  
  @responsive {
    .column-count-1 {
      column-count: 1;
    }
    .column-count-2 {
      column-count: 2;
    }
    .column-count-3 {
      column-count: 3;
    }
  }
  
  .note-item {
    margin-bottom: 2rem;
    display: inline-block;
    width: 100%;
}

