/* ------------------------------------------------------------------------ */
/* hugo-tufte.css */
/* Contains extensions to the original tufte.css styles to */
/* accomodate a blog-like site. */
/* ------------------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@351&display=swap");

:root {
    --sidenotes-max-width: 550px;

    --popups-popup-max-width: 640px;
    --popups-popup-max-height: 480px;
    --popups-popup-with-title-bar-min-width: 320px;
    --popups-annotation-popup-min-width: 360px;
    --popups-annotation-popup-min-height: 120px;
    --popups-aux-links-popup-min-width: 360px;
    --popups-aux-links-popup-min-height: 120px;
    --popups-local-transclude-popup-min-width: 360px;
    --popups-local-transclude-popup-min-height: 120px;
    --popups-popup-border-width: 3px;
    --popups-popup-title-bar-height: calc(1.5rem + 1px);
    --popups-popup-mini-title-bar-height: calc(1rem + 1px);
    --popups-video-iframe-width: 495px;
    --popups-video-iframe-height: 310px;
    --popups-image-popup-min-size: 64px;

    --popins-popin-max-height: 50vh;
    --popins-popin-min-height: 120px;
    --popins-popin-border-width: 3px;
    --popins-popin-title-bar-height: 1.75rem;
    --popins-popin-footer-bar-height: 1.75rem;
}

/* When setting the primary font stack, apply it to the Pure grid units along */
/* with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use */
/* specific font stacks to ensure the greatest OS/browser compatibility. */
html,
button,
input,
select,
textarea,
p,
nav,
section,
article,
header,
footer,
.pure-g [class*="pure-u"] {
    font-family: "et-book", -apple-system, "San Francisco", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Open Sans", "Helvetica Neue", "Lucida Grand", sans-serif;
}

code {
    font-family: "Fira Code", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.6;
}

.sidenote,
.marginnote {
    margin-right: -55%;
    width: 45%;
}


/* ------------------------------------------------------------------------ */
/* Generic content, such as the index list pages */
/* ------------------------------------------------------------------------ */

/* Content Title styling.  This is mostly to avoid underlying links. */
h1.content-title {
    /*max-width: 50rem;*/
    font-size: 4rem;
}

h1.content-title a:link,
h1.content-title a:visited {
    text-decoration: none;
    color: inherit;
}

h1.content-title a:hover,
h1.content-title a:focus {
    color: darkgray;
}



/* ------------------------------------------------------------------------ */
/* Styling for listing pages. */
/* ------------------------------------------------------------------------ */
.list-page {
    ul {
        list-style-type: none;
        margin: -0.25em;
        width: 87.5%;
        max-width: 45rem;
    }

    li {
        margin: 0;
        /*font-size: 95%;*/
    }
}

.list-page .list-date {
    display: inline;
    font-size: 0.75em;
    /* padding-right: 2em; */
    /* margin-right: 2em; */
}

table:not(.lntable) {
    margin-top: 1em;
    font-size: 1.4rem;
    width: auto;
    /* making booktabs style tables the unstyled default in case someone uses Markdown styling */
    /* margin: 0 auto; */
    /* border-spacing: 0px; */
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
}

table:not(.lntable) th,
table:not(.lntable) td {
    font-size: 1.25rem;
    line-height: 1.71428571;
}

table:not(.lntable) td {
    padding-right: 0.75em;
}

table.lntable {
    td.lntd {
        padding: 0em;
    }

    border-spacing: 0;
    padding: 0;
}

:target {
    @media screen and (min-width: 761px) {
        scroll-margin-top: 5rem;
    }
}

.section-nav {
    @media screen and (min-width: 761px) {
        position: fixed;
        top: 1.5rem;
        margin: 0;
        left: 1em;
        width: 15%;
        overflow-wrap: break-word;
    }

    li.active {
        text-decoration: underline;
    }
}

.dialog {
    display: flex;
    margin: 0.75rem 1.5rem;
    gap: 1em;

    p {
        width: 50%;
    }

    &.answer {
        flex-direction: row-reverse;
    }
}

.answer {

    .sidenote,
    .marginnote {
        margin-left: -55%;
        float: left;
        clear: left;
        margin-right: 0;
    }
}

.icon {
    width: 48px;
    height: 48px;
    margin: 1.4rem 0;
}